section
	section.align-left
		div
			h1 Olá!
			p
				| Eu sou o
				span.highlight-item &nbsp;Willian Justen

		div.fragment.side-by-side
			img(src="img/justin-bieber.jpg", alt="Justin Bieber")

		div.fragment.side-by-side
			img(src="img/justin-timberlake.jpg", alt="Justin Timberlake")
