section
	section.align-left
		div
			p Tenho um blog
			a(href="http://willianjusten.com.br") willianjusten.com.br

		div.fragment
			hr
			p Alguns projetos open source
			a(href="http://github.com/willianjusten") github.com/willianjusten

		div.fragment
			hr
			p E tenho mais de 36 mil alunos em meus cursos!
			a(href="http://willianjusten.com.br/cursos") willianjusten.com.br/cursos
